@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1B;
    background-color: #f7d6d6;
}

nav {
    height: 80px;
    background-color: #ecc8c8;

    .categNav {
        color: rgb(161, 21, 3);
        font-size: 20px;
    }

    .titulo {
        color: rgb(161, 21, 3);

    }
}

.tarjetas {
    border: 1px solid #e2e2e2;

    .botonDetalle {
        background-color: rgb(180, 39, 21);
        color: #ecc8c8;
    }
}

.detailView {
    height: 80vh;
}

.detailTitle {
    font-weight: bolder;
}

.cartView {
    min-height: 100vh;
    height: auto;
    background-color: #ecc8c8;
    padding-top: 30px;
}

.cartItem {
    background-color: #ecc8c8;
    height: auto;
    margin-bottom: 15px;
    padding: 30px 15px;
}

.tituloTemplate {
    text-transform: capitalize;
    color: rgb(161, 21, 3);

}

.numPedido {
    color: rgb(161, 21, 3);
}

.contGracias {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    text-align: center;

    p {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}